<!-- Breadcrumb Area -->
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-contents">
                    <h2 class="page-title">Cerulean Bee</h2>
                    <div class="breadcrumb">
                        <ul>
                            <li>
                                <span class="icon-settings" style="color:white; padding: 10px;"></span><a href="{% url 'Logout' %}">LOGOUT</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><!-- end .col-md-10 -->
        </div><!-- end .row -->
    </div><!-- end .container -->
</section><!-- ends: .breadcrumb-area -->