<div class="dashboard_menu_area" style="background-color: #FAACA8;
background-image: linear-gradient(19deg, #FAACA8 0%, #ffffff 100%);">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <p style="font-size: 36px;padding : 30px; color: white; font-weight: 700;font-family: cursive;
                font-style: oblique;"> Cerulean <span style="color: black;">Bee</span><img src="static/images/Bee.png" style="max-width:40px; margin-left: 10px;"></img> </p>
            </div>
            <div class="col-md-8" style="float : right;">
                <button class="menu-toggler d-md-none">
                    <span class="icon-menu"></span> Dashboard Menu
                </button>
                <ul class="dashboard_menu">
                    <li class="nav-link {% if request.path == '/home' %} active {% endif %}" >
                        <a href="{% url 'home' %}" style="color:black;"><span class="lnr icon-home"></span>Dashboard</a>
                    </li>
                    <li class="nav-link {% if request.path == '/artwork_order' %} active {% endif %}">
                        <a href="{% url 'artwork_order' %}" style="color:black;"><span class="lnr icon-settings"></span>Artwork Order</a>
                    </li>
                    <li class="nav-link {% if request.path == '/employee_details' %} active {% endif %}">
                        <a href="{% url 'employee_details' %}" style="color:black;"><span class="lnr icon-basket"></span>Employee Work Details</a>
                    </li>
                    <li class="nav-link {% if request.path == '/print_order' %} active {% endif %}">
                        <a href="{% url 'print_order' %}" style="color:black;"><span class="lnr icon-credit-card"></span>Print Orders</a>
                    </li>
                    <li class="nav-link {% if request.path == '/project_cost_analysis' %} active {% endif %}">
                        <a href="{% url 'project_cost_analysis' %}" style="color:black;"><span class="lnr icon-chart"></span>Project Cost Analysis</a>
                    </li>
                    
                </ul><!-- ends: .dashboard_menu -->
               
            </div><!-- ends: .col-md-12 -->
        </div><!-- ends: .row -->
    </div><!-- ends: .container -->
</div><!-- ends: .dashboard_menu_area -->